* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  margin: 5px 0;
}

/* modals */
.dialog-modal .modal-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: fit-content;
  max-height: 700px;
  overflow-y: auto;
  background-color: white;
  outline: 4px solid #2196f3;
  box-shadow: 24;
  padding: 20px 40px;
  border-radius: 10px;
}

#menu-btn {
  display: none;
}

/* drawer */
.drawer-content {
  width: 100vw;
  max-width: 400px;
}

.drawer-content .active {
  background-color: #257dc47e;
}

#nav-links .active {
  background-color: #ffffff50;
}

#empty-box {
  display: none;
}

#nav-links button{
  text-transform: capitalize !important;
}

@media screen and (max-width: 800px)  {
  /* navbar */
  #empty-box {
    display: block;
  }
  
    #nav-links {
      display: none;
  }

  #menu-btn {
    display: block;
  }
}